[global_config]
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[spatests]]
    [[[child0]]]
      fullscreen = False
      last_active_term = bc6ad3c6-5276-4fb8-907e-a83d652e37fc
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 0:0
      size = 1918, 1030
      title = /bin/bash
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 709
      ratio = 0.691707317073
      type = VPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 1173
      ratio = 0.61317302666
      type = HPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 986
      ratio = 0.515420805018
      type = HPaned
    [[[terminal3]]]
      order = 0
      parent = child2
      profile = default
      type = Terminal
      uuid = bc6ad3c6-5276-4fb8-907e-a83d652e37fc
    [[[terminal4]]]
      order = 1
      parent = child2
      profile = default
      type = Terminal
      uuid = 4e2712ab-871e-459a-a4b0-dcc924df2c45
    [[[terminal6]]]
      order = 0
      parent = child5
      profile = default
      type = Terminal
      uuid = fb44fdf6-ff47-4899-a0d8-f867b8fd602a
    [[[terminal7]]]
      order = 1
      parent = child5
      profile = default
      type = Terminal
      uuid = 741541e9-953f-46e2-8f9d-baf6667864c9
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
